.singleblog-container {
    padding: 0px 20px 20px;
}

.cover-img {
    width: 100%;
    border-radius: 10px;
}

.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.singleblog-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mark-btn {
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: underline;
    color: #6047EC;
    background-color: white;
}
.bookmark-btn{
    background-color: white;
}

.blog-title {
    font-weight: 700;
    font-size: 40px;
    color: #111111;
}
.author-name{
    margin: 0 5px;
}
.publish-date{
    margin: 2px 5px;
}
@media screen and (max-width:576px) {
    .singleblog-container {
        padding: 0px 10px 10px;
    }
    .author-img {
        width: 40px;
        height: 40px;
    }
    .blog-title {
        font-size: 30px;
    }
    .mark-btn {
        font-size: 15px;
    }
    /* .author-container{
        justify-content: space-between;
    } */
    
}